@import "https://ease-css.netlify.app/ease/css/ease.css";
@import "./css/home.css";
@import "./css/guestUser.css";
@import './css/questionCard.css';


body {
  color: black;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fef9ff;
}

.quiz1, .quiz2, .quiz3 {

  box-shadow: 0px 0px 10px 1px rgb(245, 244, 244);

} 

.center-block{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  height: 100vh;

}


.bg {

  margin: 0 auto;
  border-radius: 10px;
  background-color: rgb(255, 215, 170);
  padding: 1rem;
}

@media screen and (max-width: 420px)
{
  .bg {
    width: 85%;
  }
}