@import "https://ease-css.netlify.app/ease/css/ease.css";
@import "./css/home.css";
@import "./css/guestUser.css";
@import './css/questionCard.css';


body {
  color: black;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fef9ff;
}

.quiz1, .quiz2, .quiz3 {

  box-shadow: 0px 0px 10px 1px rgb(245, 244, 244);

} 



